
<nav class="nav-bar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1><a mat-flat-button color="primary" routerLink="/">KB4L-beta</a></h1>
      <div *ngIf="userService.isLoggedIn() else login" style="display:flex">
        <p>
          <a id="menu-button" mat-flat-button color="primary" (click)=showMenu()>
            <i class="material-icons">
              menu
            </i>
          </a>
        </p>
      </div>
      <ng-template #login>
        <div style="display:flex">
          <p>
            <app-open-modal-button buttonMessage="Login" modalTarget="Login" color="accent"></app-open-modal-button>
          </p>
          <p style="margin-left:15px">
            <app-open-modal-button buttonMessage="Register" modalTarget="Register" color="accent"></app-open-modal-button>
          </p>
        </div>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<aside class="drawer-menu" (clickOutside)="close($event)" [ngClass]="{'open': menuOpen, 'close':!menuOpen }">
  <mat-list *ngIf="userService.isLoggedIn()">
    <h3 matSubheader>{{ username }}</h3>
    <mat-list-item>
      <h4><a color="primary" routerLink="my-boards">Home</a></h4>
    </mat-list-item>
    <mat-list-item>
      <h4><a href="#" color="primary" (click)="logout()">Logout</a></h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>My Boards</h3>
    <mat-list-item *ngIf="!boardService.boardList">
      <p> You are not yet a member of any boards</p>
    </mat-list-item>
    <a mat-list-item *ngFor="let board of boardService.boardList" [routerLink]="'my-boards' + board.board_url" (click)="switchBoard(board)">{{board.name}}</a>
  </mat-list>
</aside>
<main>
  <router-outlet></router-outlet>
  <footer>
    <a mat-flat-button href="https://github.com/kev20006/KB4L" target="blank">
      <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
      <p>View the project on github</p>
    </a>
  </footer>
</main>
