<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1><a routerLink="/">kanban4life</a></h1>
      <div *ngIf="userService.isLoggedIn() else login" style="display:flex">
        <p><a routerLink="my-boards">{{ username }}</a></p>
        <p style="margin-left:15px"><a href="#" (click)="logout()">Logout</a></p>
      </div>
      <ng-template #login>
        <div style="display:flex">
          <p>
            <app-open-modal-button buttonMessage="Login" modalTarget="Login" color="accent"></app-open-modal-button>
          </p>
          <p style="margin-left:15px"><app-open-modal-button buttonMessage="Register" modalTarget="Register" color="accent"></app-open-modal-button></p>
        </div>
      </ng-template>
    
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

  
<router-outlet></router-outlet>