mat-toolbar-row{
    display:flex;
    justify-content: space-between;
}

.nav-bar{
    background: transparent;
    position:fixed;
    height:40px;
    top:0px;
    z-index: 45;
    width: 100%;
}

.drawer-menu{
    position:fixed;
    top:0;
    height:100%;
    z-index: 60;
    width: 250px;
    overflow: hidden;
    right:-250px;
    transition: right 0.5s;
    background-color: white;

    &.open{
        right:0
    }
}