<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <div class="left-header-wrapper">
            <app-priority [priority]="task.priority"> </app-priority>
            <h3>{{ task.title }}</h3>
            <mat-chip color="accent" class="circle big" selected>
                <div class="points">{{ task.points }}</div>
            </mat-chip>
        </div>
    </mat-expansion-panel-header>
    <h3 *ngIf="task.assigned_to && (assignedToCurrentUser())"> Assigned to You 
        <button mat-icon-button  color="warn" (click)="unasign(task.id)">
            <i class="material-icons">
                cancel
            </i>
        </button>
    </h3>
    
    <h3 *ngIf="task.assigned_to && (!assignedToCurrentUser())"> Assigned to {{ assignedMember.username }}</h3>
    <h3 *ngIf="!task.assigned_to"> Nobody has picked up this task</h3>
    <button mat-stroked-button color="primary" *ngIf="!taskService.isAdmin()">Assign to me</button>
    <mat-form-field *ngIf="taskService.isAdmin()">
        <mat-label>Assign Task</mat-label>
        <mat-select matNativeControl [(ngModel)]="assignedMember.username" (ngModelChange)="userAssigned()" required>
            <mat-option *ngFor="let user of boardService.memberList" [value]="user.username">{{user.username}}</mat-option>
        </mat-select>
    </mat-form-field>
    <p> <app-priority [priority]="task.priority"> </app-priority>This is a {{ getPriority(task.priority) }} Priority task </p>
    
    <h3>Description:</h3>
    <p> {{ task.description }}</p>
    <div class="controls">
        <button mat-mini-fab color="primary" [disabled]="!moveToPrevText()" (click)="movePrev()">
            <i class="material-icons">
                keyboard_arrow_left
            </i>
        </button>
        <h4>Move Task</h4>
        <button *ngIf="task.status!=='3'" mat-mini-fab color="primary" [disabled]="!moveToNextText()" (click)="moveNext()">
            <i class="material-icons">
                keyboard_arrow_right
            </i>
        </button>
        <button *ngIf="task.status==='3' && taskService.isAdmin()" class="approve" mat-mini-fab (click)="done()">
            <i class="material-icons">
                done
            </i>
        </button>
    </div>
</mat-expansion-panel>
