<header>
    <div class="container">
        <div class="text-container">
            <h1>KB4Life</h1>
            <h2>Add a little agile to your life</h2>
            <p>Create and share Agile boards for all aspects of your life.</p>
            <p>Divide up the house work, Plan Large Events, Work on Group Projects</p>
            <div class="example-button-row">
                <a mat-raised-button routerLink="my-boards">Go To my board</a>
            </div>
        </div>
        <div class="image-container">
            <img src="../../assets/images/juggler.png" alt="juggler">
        </div>
    </div>
</header>


