h4{
    margin: 0;
}

p{
    margin: 0;
}

.my-tasks-wraper{
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-wrapper{
        display: flex;
    }
}

.mat-list-base .mat-list-item .mat-list-item-content{
    padding:5px 0px;
}

