<a routerLink="{{'../my-boards' + taskData.board_url }}">
    <div class="my-tasks-wraper">
        <div class="left-wrapper"> 
            <div class="priority-wrapper">
                <app-priority [priority]="taskData.priority"></app-priority>
            </div>
            <div class="text-wrapper">
                <h4>{{ taskData.title }}</h4>
                <p>{{ taskData.board_name}}</p>
            </div>
        </div>
        <div class="points-wrapper">
            <mat-chip class="circle big">{{ taskData.points}}</mat-chip>
        </div>
    </div>
</a>

