<h1 *ngIf="!boardService.currentBoard.getValue()">I'm looking for your board</h1>

<mat-card  *ngIf="boardService.currentBoard.getValue()">
    <mat-card-header>
        <mat-card-title>
            <h1>{{ board.name }}</h1>
        </mat-card-title>
    </mat-card-header>
    <div class="button-wrapper">
        <button mat-raised-button [matMenuTriggerFor]="menu">
            Board Members <span> {{ boardService.memberList.length }}</span>
        </button>
        <app-open-modal-button color="accent" buttonMessage="Add New Member" modalTarget="AddNewMembers">
        </app-open-modal-button>
        <button *ngIf="isAdmin()" mat-raised-button color="warn">Delete Board</button>
    </div>
    <mat-menu #menu="matMenu">
        <mat-list role="list">
            <mat-list-item *ngFor="let member of boardService.memberList">{{ member.username }}</mat-list-item>
        </mat-list>
    </mat-menu>
    <div cdkDropListGroup>
        <div class="example-container">
            <h2>To do</h2>
            <div id="todo" cdkDropList [cdkDropListData]="boardService.todo$ | async"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" [cdkDragData]="item" *ngFor="let item of boardService.todo$ | async" cdkDrag>{{item.title}}</div>
            </div>
        </div>
        <div class="example-container">
            <h2>In Progress</h2>
            <div id="inProgress" cdkDropList [cdkDropListData]="boardService.inProgress$ | async"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" [cdkDragData]="item" *ngFor="let item of boardService.inProgress$ | async" cdkDrag>{{item.title}}</div>
            </div>
        </div>
        <div class="example-container">
            <h2>Done</h2>
            <div id="completed" cdkDropList [cdkDropListData]="boardService.completed$ | async"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" [cdkDragData]="item" *ngFor="let item of boardService.completed$ | async" cdkDrag>{{item.title}}</div>
            </div>
        </div>
    </div>
</mat-card>
<app-open-modal-button buttonMessage="add new task" modalTarget="AddNewTaskDialog"></app-open-modal-button>
