<div cdkDropListGroup>
    <div class="example-container">
        <h2>To do</h2>
        <div id="todo" cdkDropList [cdkDropListData]="boardService.todo$ | async" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" [cdkDragData]="item" *ngFor="let item of boardService.todo$ | async" cdkDrag>
                <app-task [task]="item"></app-task>
            </div>
        </div>
    </div>
    <div class="example-container">
        <h2>In Progress</h2>
        <div id="inProgress" cdkDropList [cdkDropListData]="boardService.inProgress$ | async" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" [cdkDragData]="item" *ngFor="let item of boardService.inProgress$ | async" cdkDrag>
                <app-task [task]="item"></app-task>
            </div>
        </div>
    </div>
    <div class="example-container">
        <h2>Done</h2>
        <div id="completed" cdkDropList [cdkDropListData]="boardService.completed$ | async" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" [cdkDragData]="item" *ngFor="let item of boardService.completed$ | async" cdkDrag>
                <app-task [task]="item"></app-task>
            </div>
        </div>
    </div>
</div>