<div class = "card-wrapper">
    <!-- current usage -->
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Current Usage</mat-card-title>
            <mat-card-subtitle *ngIf="subscriptionInfo">
                <span *ngIf="!subscriptionInfo.subscription"> Free User </span>
                <span *ngIf="subscriptionInfo.subscription"> Full Member </span>
            </mat-card-subtitle>   
        </mat-card-header>
    
        <mat-card-content>
            <div *ngIf="subscriptionInfo">
                <h3>
                    You are currently using {{ boardCount }} / {{ subscriptionInfo.max_boards }} boards
                </h3>
                <p *ngIf="!subscriptionInfo.subscription && (boardCount === subscriptionInfo.max_boards )" class="warning">
                    this is the limit of the free account - you cannot add any more boards
                </p>
                <p>
                    to view options to extend click the button below.
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <app-open-modal-button buttonMessage="Payment Options" modalTarget="paymentOptions"></app-open-modal-button>
        </mat-card-actions>
    </mat-card>
    <!-- end of current usage -->
    <!-- current tasks -->
    <mat-card>
        <mat-card-header>
            <mat-card-title> Assigned Tasks </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-nav-list>
                <div *ngIf="currentTasks">
                    <app-current-task *ngFor="let task of currentTasks" [taskData]=task></app-current-task>
                </div>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
    <!-- end of current tasks -->
    <!-- score -->
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Board Score</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let board of boardList"> 
                    <div class="score-list-item">
                        <span> {{ board.name}} </span>
                        <mat-chip color="accent" selected>15</mat-chip>
                    </div> 
                </mat-list-item>
                <mat-list-item class="total-score"> 
                    <div class="score-list-item">
                        <span> total-score </span>
                        <mat-chip color="primary" selected>25</mat-chip>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <!-- end of score -->
</div>
