<div class ="card-wrapper">
    <!-- current usage -->
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Current Usage</mat-card-title>
            <mat-card-subtitle *ngIf="subscriptionInfo">
                <span *ngIf="!subscriptionInfo?.subscription"> Free User </span>
                <span *ngIf="subscriptionInfo?.subscription"> Full Member </span>
            </mat-card-subtitle>   
        </mat-card-header>
    
        <mat-card-content>
            <div *ngIf="!subscriptionInfo">
                loading sub info....
            </div>
            <div *ngIf="subscriptionInfo">
                <h3>
                    You are currently using {{ boardCount }} / {{ subscriptionInfo.max_boards }} boards
                </h3>
                <p *ngIf="!subscriptionInfo?.subscription && (boardCount === subscriptionInfo?.max_boards )" class="warning">
                    this is the limit of the free account - you cannot add any more boards
                </p>
                <p>
                    to view options to extend click the button below.
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <app-open-modal-button buttonMessage="Payment Options" modalTarget="paymentOptions">
            </app-open-modal-button>
        </mat-card-actions>
    </mat-card>
    <!-- end of current usage -->
    <!-- current tasks -->
    <mat-card>
        <mat-card-header>
            <mat-card-title> Assigned Tasks </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-nav-list *ngIf="currentTasks?.length >= 1">
                <div *ngIf="currentTasks">
                    <app-current-task *ngFor="let task of currentTasks" [taskData]=task>

                    </app-current-task>
                </div>
            </mat-nav-list>
            <div *ngIf="currentTasks?.length === 0">
                <h3>You have no tasks</h3>
                <p>Looks like you have completed all your tasks</p>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- end of current tasks -->
    <!-- score -->
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Board Score</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list *ngIf="boardService.boardList?.length > 0">
                <mat-list-item *ngFor="let board of boardService.boardList"> 
                    <div class="score-list-item">
                        <span> {{ board.name}} </span>
                        <mat-chip class="circle big" color="accent" selected>{{ board.score }}</mat-chip>
                    </div> 
                </mat-list-item>
                <mat-list-item  *ngIf="boardList" class="total-score"> 
                    <div class="score-list-item">
                        <span> total-score </span>
                        <mat-chip class="circle big" color="primary" selected>{{boardScoreTotal(boardList)}}</mat-chip>
                    </div>
                </mat-list-item>
            </mat-list>
            <div *ngIf="boardList?.length === 0">
                <h3>It seems you don't have any boards just yet</h3>
                <p> Either create or join a board to start tracking your scores</p>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- end of score -->
</div>
<div class="up-to-med">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="My Usage">
            <div class="tab-content-wrapper">
                <div *ngIf="!subscriptionInfo">
                    loading sub info....
                </div>
                <div *ngIf="subscriptionInfo">
                    <h3 *ngIf="!subscriptionInfo?.subscription">
                        Free User
                    </h3>
                    <h3 *ngIf="subscriptionInfo?.subscription">
                         Full Member
                    </h3>
                </div>
                <div *ngIf="subscriptionInfo">
                    <div *ngIf="subscriptionInfo?.subscription">
                        <h3>
                            You are currently Subscribed
                        </h3>
                        <p>
                            Your subscription will expire on: 
                        </p>
                        <h4>
                            {{ subscriptionInfo.sub_expires }}
                        </h4>
                    </div>
                    <div *ngIf="!(subscriptionInfo?.subscription)">
                        <h3>
                            You are currently using {{ boardCount }} / {{ subscriptionInfo.max_boards }} boards
                        </h3>
                        <p *ngIf="!subscriptionInfo?.subscription && (boardCount === subscriptionInfo.max_boards )" 
                        class="warning">
                            this is the limit of the free account - you cannot add any more boards
                        </p>
                        <p>
                            to view options to extend click the button below.
                        </p>
                    </div>
                </div>
                <div class="button-wrapper" *ngIf="!subscriptionInfo?.subscription">
                    <app-open-modal-button 
                    buttonMessage="Payment Options" 
                    modalTarget="paymentOptions">
                </app-open-modal-button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Current Tasks">
            <div class="tab-content-wrapper">
                <!-- if user has tasks assigned to them -->
                <mat-nav-list *ngIf="currentTasks">
                    <div>
                        <app-current-task *ngFor="let task of currentTasks" [taskData]=task></app-current-task>
                    </div>
                </mat-nav-list>
                <!-- else show message -->
                <div *ngIf="currentTasks.length === 0">
                    <h3>You have no tasks</h3>
                    <p>Looks like you have completed all your tasks</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="My Scores">
            <div class="tab-content-wrapper">
                <!-- if boards exist show scores -->
                <mat-list *ngIf="boardService.boardList?.length > 0">
                    <mat-list-item *ngFor="let board of boardService.boardList">
                        <div class="score-list-item">
                            <span> {{ board.name }} </span>
                            <mat-chip class="circle big" color="accent" selected>{{ board.score }}</mat-chip>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="boardService.boardList" class="total-score">
                        <div class="score-list-item">
                            <span> total-score </span>
                            <mat-chip class="circle big" color="primary" selected>{{boardScoreTotal(boardService.boardList)}}</mat-chip>
                        </div>
                    </mat-list-item>
                </mat-list>
                <!-- else show message -->
                <div *ngIf="boardList.length === 0">
                    <h3>It seems you don't have any boards just yet</h3>
                    <p> Either create or join a board to start tracking your scores</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>    

