<mat-card class="board-list">
    <mat-card-header class="my-boards-header">
        <mat-card-title>My Boards</mat-card-title>
        <div class="button-wrapper">
            <app-open-modal-button buttonMessage="add new board" modalTarget="AddNewBoardDialog"></app-open-modal-button>
            <app-open-modal-button buttonMessage="Join a Board" modalTarget="JoinBoardDialog"></app-open-modal-button>
        </div>
    </mat-card-header>
    <h3></h3>
    <main *ngIf="boardList" class="my-boards-wrapper">
    
        <mat-card class="board-card" *ngFor="let board of boardList">
            <mat-card-header>
                <mat-card-title>{{ board.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ board.description }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="button-wrapper">
                    <button mat-raised-button color="accent" routerLink="{{'../my-boards' + board.board_url }}"
                        (click)="setBoard(board)">VIEW</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </main>
    
    

</mat-card>

