.my-boards-wrapper{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    mat-card{
        margin:5px;

        mat-card-actions{
            display: flex;
            justify-content: space-around;
        }
    }
}

.board-list{
    margin-bottom:20px;
}

.my-boards-header {
    display:flex;
    justify-content: space-between;

    .button-wrapper{
        display:flex;
        app-open-modal-button{
            margin-right:5px;
        }
    }
}
.board-card{
    width:90%;
}

@media only screen and (min-width: 724px){
    .board-card{
        width:43%;
    }
}

@media only screen and (min-width: 1000px){
    .board-card{
        width:28%;
    }
}
