.my-boards-wrapper{
    display:flex;
    flex-wrap: wrap;
    mat-card{
        margin:5px;

        mat-card-actions{
            display: flex;
            justify-content: space-around;
        }
    }
}

.my-boards-header {
    display:flex;
    justify-content: space-between;

    .button-wrapper{
        display:flex;
        app-open-modal-button{
            margin-right:5px;
        }
    }
}

mat-card{
    margin-bottom: 2%;
}