<h3>My Boards</h3>
<pre>
    {{ boardList | json }}
</pre>
<main class="my-boards-wrapper">
    <mat-card *ngFor="let board of boardList.boards">
        <mat-card-header>
            <mat-card-title>{{ board.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ board.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="{{'../view-board' + board.board_url }}" (click)="setBoard(board)">VIEW</button>
            <button mat-raised-button color="accent">EDIT</button>
            <button mat-raised-button color="warn">DELETE</button>
        </mat-card-actions>
    </mat-card>
</main>
