.activity-item{

    .time-stamp{
    margin-top: 5px;
    display:  flex;
    justify-content: flex-end;
    font-weight: 800;
    
    
    }

    .board-name{
        color:#3f51b5;
    }

    .username{
        color: #ff4081;
        font-weight: 800;
    }
}