<h1 mat-dialog-title>Create a New Board</h1>
<div mat-dialog-content>
    <p>Name of board</p>
    <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="data.name" />
    </mat-form-field>
    <p>Provide a short description of the board</p>
    <mat-form-field>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
    <p>Desired URL</p>
    <mat-form-field>
        <span matPrefix>https://kb4l.herokuapp.com/</span>
        <input type="text" matInput placeholder="url" [(ngModel)]="data.board_url"/>
        <span matSuffix>/</span>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <div class="example-button-row">
        <button mat-raised-button color="accent" [mat-dialog-close]="data">Create Board</button>
        <button mat-raised-button color="warn" (click)="onNoClick()"> Cancel </button>
    </div>
</div>