<h1 mat-dialog-title>Add new task</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Task Name" [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Short Description" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Priority" [(ngModel)]="data.priority">
            <mat-option value="5">High Priority</mat-option>
            <mat-option value="4">Medium High Priority</mat-option>
            <mat-option value="3">Medium Priority</mat-option>
            <mat-option value="2">Low Medium Priority</mat-option>
            <mat-option value="1">Low Priority</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input  matInput type="number" placeholder="Points Allocated" [(ngModel)]="data.points">
    </mat-form-field>
    <p><mat-checkbox [(ngModel)]="data.repeat_task">Is this task repeatable</mat-checkbox></p>
    <mat-form-field>
        <mat-select placeholder="Assign to" [(ngModel)]="data.assigned_to">
            <mat-option default>unassigned</mat-option>
            <mat-option [value]="userService.username">myself</mat-option>
            <mat-option *ngFor="let user of members" [value]="user">{{ user }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Status" [(ngModel)]="data.status">
            <mat-option value="1">Todo</mat-option>
            <mat-option value="2">In Progress</mat-option>
            <mat-option value="3">Completed</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <div class="example-button-row">
        <button mat-raised-button color="accent" [mat-dialog-close]="data">Add Task</button>
        <button mat-raised-button color="warn" (click)="onNoClick()"> Cancel </button>
    </div>
</div>